.container{
    display:flex;
    flex: 1 1 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-height: 960px;
    max-width: 960px;
    gap : 3px;
}

.grid-square{
    display : flex;
    background-color: white;
    opacity: 1.0;
}

